[Unit]
Description=Raspberry Pi 5 OLED System Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/brad/rpi5-oled/main.py
WorkingDirectory=/home/brad/rpi5-oled
StandardOutput=journal
StandardError=journal
Restart=always
# Run as root to access GPIO pins
User=root

[Install]
WantedBy=multi-user.target
