[Unit]
Description=Raspberry Pi 5 OLED Display Framework
After=network.target

[Service]
ExecStart=/usr/local/bin/rpi5-oled
# Alternatively, use python -m rpi5_oled.app if installed in dev mode
# ExecStart=/usr/bin/python3 -m rpi5_oled.app -c /etc/rpi5-oled/config.yaml
StandardOutput=journal
StandardError=journal
Restart=always
# Run as root to access GPIO pins and I2C bus
User=root

[Install]
WantedBy=multi-user.target
